body{
    margin: 0 ;

}

.hero{
    margin: 0 auto;
    width: 600px;
    height: auto;
    display: block;
    padding-bottom: 15px;
    text-align: center;
    background: linear-gradient(246.26deg, #585DFE 0%, #FB3796 100%);
    border-radius: 10px;
}
label{
    display: block;
    text-align: center;
    font-size: 36px;
    padding-bottom: 4px;
}
input{
    width: 450px;
    height: auto;
    justify-content: center;
    padding: 5px;
    font-family: inter;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 24px;
    text-align: center;
    color: black;
    background-color: #FB3796;
}
button{
    display: block;
    margin: 30px auto;
    padding: 5px 13px;
    background-color: blueviolet;
    font-size: 24px;
    border-radius: 7px;

}
p{
    color:rgb(17, 4, 4);
}

h1{
    font-family: inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 800;
    line-height: 38px;
    letter-spacing: -0.05em;
    color: #fff;
    text-align: center;
   
    margin-top: 45;
}

.all{
    display: flexbox;
    justify-content: center;
}


.container{
    
    background: white;

}
.length{
    
    font-family: inter;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #1A1921;
    padding: 5px;
}
.lencol{
    
    font-family: inter;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #4E4E4E;
    padding: 5px;
}

.volume{
    
    font-family: inter;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #1A1921;
    padding: 5px;
}

.volcol{
    
    font-family: inter;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #4E4E4E;
    padding: 5px;
}

.mass{
   
    font-family: inter;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #1A1921;
    padding: 5px;
}

.masscol{
   
    font-family: inter;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #4E4E4E;
    padding: 5px;
}